html * {
    font-family: 'Montserrat', sans-serif;
    font-size: 62.5%;
}

.background-video {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.logo {
    margin-top: 100px;

    width: 100%;
    height: 400px;
}

.imagen-posicionada {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 450px;
    height: auto;

}

/* Estilos personalizados para el texto "CONTACT" en el navbar */
.navbar-nav .nav-link {
    font-size: 20px;
    /* Ajusta el tamaño de fuente deseado */
    padding: 5px 10px;
    /* Ajusta el relleno (padding) deseado */

}

/* Cambio de color de fondo al pasar el ratón */
.navbar-bg-transparent {
    background-color: transparent !important;
    /* Establece el fondo como transparente */
    transition: background-color 0.3s ease-in-out;
    /* Agrega una transición suave para el cambio de color de fondo */
}

.navbar-bg-transparent:hover {
    background-color: rgba(0, 0, 0, 0.5) !important;
    /* Fondo negro con 50% de transparencia al pasar el ratón */
}

.navbar-bg-black {
    background-color: black !important;
}

.rounded-box {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
}

.navbar-nav .nav-item:hover .nav-link {
    color: orange;
    /* Cambia el color a naranja (o el color que desees) */
}

.navbar {
    height: 40px;
    max-width: 850px;
}

.navbar-bg-black:hover {
    background-color: rgba(0, 0, 0, 0.5);
    /* Fondo negro con 50% de transparencia */
}


.centered-text {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.centered-text h1,
.centered-text p.sub-text {
    font-size: 40px;
    /* Ajusta el tamaño de fuente deseado */
    color: white;
    /* Color del texto */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    /* Sombra de texto */
    white-space: nowrap;
    /* Evita el desplazamiento a la siguiente línea */
    font-weight: bold;
    /* Hace que el texto sea negrita */
    /* Otros estilos de texto, si es necesario */
}

.centered-text p.sub-text {
    color: orange;
    /* Cambia el color del texto a naranja */
}



.contact-box {
    background-color: rgba(0, 0, 0, 0.5);
    /* Fondo negro al 50% de transparencia */
    color: white;
    /* Color del texto */
    border-radius: 10px;
    /* Bordes redondeados */
    overflow: hidden;
    margin: 40% auto 0;
    max-width: 1000px;
    /* Oculta el contenido que se desborde */
}

.header {
    text-align: center;
    /* Centra el encabezado horizontalmente */
    font-size: 50px;
    /* Tamaño de fuente del encabezado */
    font-weight: bold;
    /* Texto en negrita */
    margin-bottom: 20px;
    /* Espacio inferior */
    background-color: transparent;
    /* Fondo transparente */
    padding: 0;
    /* Sin relleno */
}

.content {
    display: flex;
    /* Usa flexbox para organizar el contenido */
    background-color: white;
    /* Fondo blanco */
    padding: 20px;
    /* Espaciado interno para separar el contenido del fondo */
    border-radius: 0;
    /* Sin bordes redondeados */
}


.content {
    display: flex;
    /* Usa flexbox para organizar el contenido */
}

.image,
.text {
    background-color: white;
    padding: 20px;
    padding-left: 25px;
    /* Espaciado interno para separar el contenido del fondo */
}

.image {
    flex: 1;
    /* El 50% del ancho del contenedor */
    padding-right: 0px;
    /* Espaciado a la derecha de la imagen */
}

.image img {
    width: 80%;
    /* Tamaño de la imagen al 50% */
    /* Ajusta el ancho de la imagen al 50% del contenedor */
}

.text {
    flex: 1;
    /* El 50% del ancho del contenedor */
    font-size: 20px;
    /* Tamaño de fuente de texto a 20px */
    color: black;
}

.text p {
    font-size: 20px;
    /* Tamaño de fuente de texto a 20px */
    /* Tamaño de fuente del texto */
}


.under-construction {
    position: relative;
    bottom: 0;
    width: 100%;
    z-index: 1;
    margin-top: -10%;
}